* {
  border: solid 1px red;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.logo {
  height: 200px;
}

.links {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: #1e1e1e;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration:none;
  width: 800px;
  text-align: center;
  width: 100px;
  padding: 5px 10px;
}

.link:hover {
  color: grey;
}

h1 {
  font-size: 5.25em;
}

h2 {
  font-size: 3.25em;
}

h3 {
  font-size: 2.25em;
}

p {
  font-size: 1.25em;
}

li {
  padding: 10px;
  list-style: none;
}

.msg {
  max-width: 700px;
  min-width: 200px;
  text-align: center;
}

.xl-msg {
  margin: 200px 50px 20px 50px;
}

.x-msg {
  margin: 0 50px 100px 50px;
}

.res_img {
  width: 100vw;
  max-width: 1920px;
  position: relative;
  height: auto;
  margin-bottom: 200px;
}

.card {
  display: flex;
  height: 380px;
  width: 80vw;
  max-width:1080px;
  min-width:360px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 100px 50px 0 50px;
  transition-duration: 0.5s;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.2);
}

.content {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  flex: 2;
  border-radius: 30px 0 0 30px;
  height: 100%;
  width: 100%;
  min-width: 200px;
  object-fit: cover;
  overflow: hidden;
}

.card-img-reverse {
  border-radius: 0 30px 30px 0;
}

.card-reverse {
  flex-direction: row-reverse;
}

.xl-card-msg {
  margin: 20px;
}

.x-card-msg {
  margin: 20px;
}

.contract {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 200px 50px;
}

.contract-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.border-right {
  border-right: solid 2px #1e1e1e;
}

.border-left {
  border-left: solid 2px #1e1e1e;
}

.contract button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.contract button:hover {
  background-color: #1e1e1e;
  color: white;
}

.row-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 100px 50px;
}

.attribute {
  width:180px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
}

.review {
  background-color: #fdf9f1;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  width: 300px;
}

.form-card {
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
  width: auto;
  max-height: 1080px;
  margin: 100px 100px 200px 100px;
}

iframe {
  flex: 1;
  border: 0;
  margin: 0;
  min-width: 500px;
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 30px;
  max-width: 1080px;
}

form .content {
  padding: 10px;
  margin: 10px;
}

input,
textarea {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  resize: none;
  border: none;
  background-color: whitesmoke;
  transition-duration: 0.5s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: #1e1e1e20;
  outline: none;
}

.form-button {
  font-size: 18px;
  border: 0;
  padding: 10px;
  margin: 10px;
  color: white;
  background: black; /* default color */
  background: linear-gradient(to left, black 50%, #2ca05a 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.form-button:hover {
  background-position: left;
  color: black;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container {
  display: flex;
}

footer .links {
  flex-direction: column;
}

.license {
  text-align: center;
  color: white;
  width: 100%;
  background-color: #1e1e1e;
}
